@{
    ViewBag.Title= "Toplantı Özeti";
    
}
<main class="text-center">
    <h1 class="h4">Toplantı Özeti</h1>
    <p>Toplanıya Sizinle Birlikte 20 Kişi Katılıyor</p>
    <a class="btn btn-sm btn-outline-primary "href="#">Katılımcıları Listele</a>

</main>
